{% extends "base.j2" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="text-center">Ranking Complete</h1>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Team</th>
                        <th>Points</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for team in ranking %}
                        <tr>
                            <th scope="row">{{ loop.index }}</th>
                            <td>{{ team.name }}</td>
                            <td>{{ team.points }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

